<robot name="mpl3240" xmlns:xacro="http://ros.org/wiki/xacro">
        
    <xacro:include filename="$(find mlp3240_visual)/urdf/mlp3240_macro.xacro"/>
    <xacro:macro name="mlp_3240_world">
        <xacro:mlp3240/>

        <link name="map"/>

        <joint name="base_to_world_joint" type="fixed">
            <parent link="map"/>
            <child link="base_link"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>
        
    </xacro:macro>
    <xacro:mlp_3240_world/>
</robot>